<div class="container">
  <h3 class="d-flex justify-content-center m-5">Dólar</h3>
  <div class="d-flex justify-content-center">
    <input
      type="number"
      class="btn btn-secongary"
      id="brDolar"
      placeholder="0 USD"
      style="width: 140px"
    />
    <input
      type="button"
      class="btn bg-dark text-white"
      style="height: 50px"
      value="Converter"
    />
    <input
      type="number"
      class="btn btn-secongary"
      id="brDolar"
      placeholder="0 BRL"
      style="width: 140px"
    />
  </div>
</div>
