<div *ngIf="show" class="container">
  <div class="jumbotron text-center" style="padding-top: 100px">
    <h1>Dólar</h1>
    <main class="lead">Descubra qual é a cotação do dólar hoje:</main>

    <section class="container-bottons">
      <div class="input-group" style="width: 160px">
        <span class="input-group-text" id="addon-wrapping">US$</span>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="valueInputUSD"
          (change)="calculateConversionUSD()"
          aria-label="dolar"
          aria-describedby="addon-wrapping"
        />
      </div>

      <div>
        <button type="button" class="btn btn-primary m-2" style="height: 50px">
          Calcular
        </button>

        <button
          (click)="clearInput()"
          type="button"
          class="btn btn-danger m-2"
          style="height: 50px"
        >
          Limpar
        </button>
      </div>

      <div class="input-group" style="width: 160px">
        <span class="input-group-text" id="addon-wrapping">R$</span>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="valueInputBRL"
          (change)="calculateConversionBRL()"
          aria-label="real"
          aria-describedby="addon-wrapping"
        />
      </div>
    </section>
  </div>

  <hr class="my-4" />

  <section class="m-3 text-justify">
    <h5 class="text-center m-4">Esse valor do dólar é atualizado?</h5>

    <p>
      A cotação do dolar hoje está
      {{ currency.USDBRL.ask | currency }}. O valor do dólar americano é
      atualizado todos os dias para você ficar informado sobre o preço do dólar
      e tomar as melhores decisões.
    </p>

    <h5 class="text-center m-4">Sobre o dólar</h5>
    <p>
      O dólar dos Estados Unidos, também conhecido como dólar estadunidense ou
      dólar americano é a moeda oficial dos Estados Unidos e utilizada no mundo
      inteiro, tanto em reservas internacionais, como em livre circulação em
      alguns países. Atualmente, sua expedição é controlada pela Reserva Federal
      dos Estados Unidos.
    </p>

    <h5 class="text-center m-4">Historia do dólar</h5>

    <p>
      A Lei da moeda de 1792 (também conhecida como Lei da Casa da Moeda;
      oficialmente: Um ato que estabelece uma casa da moeda, e regulamenta as
      Moedas dos Estados Unidos), aprovada pelo Congresso dos Estados Unidos em
      2 de abril de 1792, criou o dólar dos Estados Unidos como a unidade padrão
      de dinheiro do país, estabeleceu a Casa da Moeda dos Estados Unidos e
      regulamentou a cunhagem dos Estados Unidos. Esta lei estabeleceu o dólar
      de prata como a unidade de dinheiro nos Estados Unidos, declarou-o como
      uma proposta legal, e criou um sistema decimal para a moeda americana.
    </p>

    <h6 class="m-2">Após a 2ª Guerra Mundial</h6>

    <p>
      Até 1944, quando ocorreu a Conferência de Bretton Woods, era difícil
      determinar o valor do dólar em comparação ao de outras unidades
      monetárias, sendo a dificuldade ainda maior com os fortes abalos causados
      pela Segunda Guerra Mundial. Geralmente as cotações se baseavam nas
      reservas em ouro dos países, por ser o ouro um parâmetro universal. Àquela
      altura, os EUA já eram a maior potência mundial, por isso tentou-se
      estabelecer um padrão em que o grama de ouro teria um valor fixo em
      dólares. O sistema durou até o início da década de 1970, quando o dólar já
      estava seriamente desvalorizado em relação ao valor acordado
      originalmente. Em 1971, o dólar deixou de ser diretamente conversível em
      ouro e, graças aos avanços tecnológicos que permitem negociações rápidas e
      em grandes volumes, surgiu o câmbio flutuante englobando vários pares de
      moedas. Foi assim que nasceu o Forex.
    </p>

    <h6 class="m-2">Circulação fora dos Estados Unidos</h6>

    <p>
      Em 1995, mais de 380 bilhões de dólares dos Estados Unidos estavam em
      circulação, dois terços disso fora dos EUA. Em abril de 2004,
      aproximadamente 700 bilhões estavam em circulação,[13] com uma estimativa
      de metade de dois terços dele fora dos EUA.[14] No dia 1 de Janeiro de
      2019 o montante de dólares em circulação avizinha os 1,70 trilhões segundo
      a Reserva Federal. Os Estados Unidos são um dos vários países que usam a
      moeda dólar. Vários países usam o dólar dos Estados Unidos como sua moeda
      oficial, e muitos outros permitem que ela seja usado de facto.
    </p>

    <h6 class="m-2">Dolarização da economia</h6>

    <p>
      Nas décadas de 1980 e 1990, muitos economistas viam, com grande simpatia,
      a dolarização da economia brasileira como forma de romper o círculo
      vicioso da inflação, que, à época, já podia ser considerada hiperinflação.
      Adotando o dólar como lastro para a moeda nacional, o Brasil USDBRLria se
      ver livre do tão terrível dragão inflacionário. Outros economistas tinham
      receio na adoção dessa solução, principalmente quando viram a Argentina
      sofrer com a incapacidade de pagamento, resultando no abandono desse
      sistema. Alguns dizem que o Plano Real foi, por um breve período, um tipo
      de dolarização da economia brasileira, visto que a URV (Unidade Real de
      Valor), tinha, mais ou menos, o mesmo valor de 1 dólar. Após a
      desvalorização do real em 1999, houve o descolamento da moeda
      estadunidense, com a adoção do câmbio flutuante. A maior cotação do dólar
      americano na história foi de R$ 5,88, batida no dia 8 de Março de 2021
      devido ao nervosismo do mercado com o anúncio que o governo Bolsonaro
      pretendia "mexer" na Petrobrás, retirando a autonomia a ela concedida no
      governo de Michel Temer. Os números podem também ter se agravado com a
      pandemia da Covid-19 ou Sars-Cov2.
    </p>
  </section>
</div>
